.collection {
  width: 100%;
}
.schools {
  width: 100%;
  height: auto;
}

.collection_item {
   /* margin-top: 100px; */
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.collection_item:hover {
  cursor: pointer;
}

.collection_item > img {
  width: 75px;
}

.collection_item:hover {
  cursor: pointer;
}

.collection_item > img {
  width: 75px;
}

.viewer {
  overflow: hidden;
}

.viewer::-webkit-scrollbar {
  display: none;
}



.item_detail {
  height: 100%;
  width: auto;
  padding: 20px 0px 10px 10px;
  flex: 1;
}

.item_size {
  color: gray;
  font-size: 18px;
  padding-top: 5px;
}

.item_date {
  padding-top: 5px;
}

.preview_btn,
.download_btn {
  padding: 10px 24px;
  font-size: 18px;
  border: none;
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.preview_btn > svg,
.download_btn > svg {
  margin-right: 5px;
}

.preview_btn {
  background-color: #ffda09;
  color: #000;
}

.download_btn {
  background-color: #12a512;
  color: #fff;
  margin: 0px 10px;
}

.sub_collection {
  padding: 10px 0px;
  height: 90px;
  display: flex;
  background-color: #4e329c;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.col_links > a {
  color: #fff;
  font-size: 20px;
}

.item_name {
  width: 90%;
}

.btn_wrapper{
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
}

.sub_collection > .col_links > a{
  font-size: 14px;
}

@media screen and (max-width: 1412px) {
  .item_name {
    font-size: 16px;
  }
  .preview_btn {
    width: 80px;
    height: 30px;
    font-size: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .download_btn {
    width: 80px;
    height: 30px;
    font-size: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 1315px) {
  .sub_collection{
    flex-wrap: wrap;
  
  }

  .sub_collection > .col_links > a{
    height: 35px;
  }

  .sub_collection > .col_links{
      margin: 5px;
  } 

}
@media screen and (max-width: 1150px) {
  .collection_item{
    flex-direction: column;
  }
  .item_name{
    width: 90%;
  }


}


@media screen and (max-width: 1104px) {
  .collection_item {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .item_detail {
    height: auto;
    width: 95%;
    padding: 10px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* text-align: center; */
  }
  .item_detail .item_size,
  .item_date {
    font-size: 16px;
  }
  .collection_item > img {
    margin-top: 20px;
  }
  .preview_btn {
    margin-bottom: 10px;
  }
  .item_name{
    width: 90%;
  }
}


@media screen and (max-width: 900px) {
  .collection {
    width: 90%;
    padding-top: 105px;
    margin: auto;
  }
  .collection_item {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .item_detail {
    height: auto;
    width: 95%;
    padding: 10px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* text-align: center; */
  }
  .item_detail .item_size,
  .item_date {
    font-size: 16px;
  }
  .collection_item > img {
    margin-top: 20px;
  }
  .preview_btn {
    margin-bottom: 10px;
  }
  .item_name{
    width: 90%;
  }
}

@media only screen and (max-width: 550px) {
    .schools > .header > .header__searchbar{
      position: absolute;
      top: 170px;
      box-shadow: 0px 0px 5px #bfbfbf;
      outline: none;
      border-radius: 10px;
    }

    .sub_collection{
      position: sticky;
      top: 60px;
      z-index: 10;
    }
}

@media only screen and (max-width: 450px) {
  .schools > .header > .header__searchbar{
    top: 200px;
  }
}

@media only screen and (max-width: 390px) {
  .schools > .header > .header__searchbar{
    top: 230px;
  }
}

@media only screen and (max-width: 335px) {
  .schools > .header > .header__searchbar{
    top: 260px;
  }
}