.navbar{
    width: 100%;
    height: 160px;
    background-color: #00953B;
    font-family: 'Montserrat', sans-serif;
}

.navbar_top{
    width: 75.8%;
    height: 63%;
    /* background-color: red; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.navbar_top_first{
    display: flex;
    align-items: center;
    padding-top: 58px;

}
.a{
    border-left: 1px solid #fff;
    margin-left: 14px;
    height: 37px;
}
.navbar h1{
    color: #fff;
    font-size: 21px;
    margin-left: 18px;
}

.navbar_second{
    display: flex;
    align-items: center;
    margin-top: -60px;
    margin-right: 20px;
    z-index: 100;
}
.navbar_search{
    width: 150px;
    height: 42px;
    background-color: #EEEEEE;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 2px;
}


.navbar_search svg{
    color: #000;
}

.navbar_search.goldBorder{
   outline: 2px solid green;
}
.navbar_second button{
    width: 75px;
    height: 42px;
    background-color: #23085A;
    color: #06ec62;
    border: none;
    cursor: pointer;
}

.navbar_search input{
    border: none;
    outline: none;
    background-color: transparent;
    text-indent: 10px;
    font-size: 17px;
    width: 80%;
}




.navbar_shadow{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    animation: shadowClose .3s forwards;
}

.navbar_shadow.close{
    animation: shadowClose .3s forwards;
    opacity: 1;
    background-color: #00000077;
}
@keyframes shadowClose{
    0%{background-color: #00000077;}
    90%{background-color: #00000000; transform:scale(1)}
    100%{ background-color: #00000000;transform:scale(0);}
}

.navbar_shadow.show{
    background-color: #00000077;
    animation: shadowShow .3s forwards;
    opacity: 0;
}

@keyframes shadowShow{
    to{opacity: 1;}
}

.navbar_bottom{
    width: 75.8%;
    height: 26%;
    background-color: yellow;
    margin: 18px auto;
    /* display: none; */
}
.navbar_bottom_close{
    width: 100%;
    height: 400px;
    background-color: red;
    position: absolute;
    display: none;
    /* margin: 18px auto; */
}


.navbar_bottom_collection{
    display: flex;
    align-items: center;
}
.navbar_bottom_collection li{
    list-style-type: none;
    padding: 13px 18px;
    font-size: 14px;
    margin-left: 2px;
    background-color: #F1F1F1;
}


.expand{
    display: none;
    position: absolute;
}

.ul_link:hover .expand{
    display: block;
    flex-direction: column;
    display: flex;
}

.bars{
    display: none;
}

@media screen and (max-width:800px){
    .bars{
        display: block;
    }
    .navbar_bottom{
        display: none;
    }
}