.Banner{
    widows: 100%;
    height: 590px;
    background-color: #23085A;
    margin-top: 70px;
    font-family: sans-serif;
}
.banner_wrapper{
    width: 65%;
    height: 96%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: 1fr;
    grid-gap: 30px;
}
.banner_wrapper_box{
    background-color: #fff;
    margin: 30px 0px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}
.banner_wrapper_box img{
    width: 100%;
}
.banner_wrapper_box h1{
    font-size: 29px;
    color: #23085A;
    margin: 15px 13px;
}
.banner_wrapper_box p{
    color: #000;
    font-weight: 500;
    margin: 13px;
    font-size: 18px;
}
.banner_wrapper_box button{
    width: 180px;
    height: 35px;
    border-radius: 35px;
    border: none;
    color: #fff;
    background-color:#23085A ;
    margin: 20px 110px;
}



@media screen and (max-width: 995px) {
    .banner_wrapper{
        width: 99%;
        height: 93%;
    }
    .Banner{
        height: 550px;
    }
    .banner_wrapper_box{
        height: 100%;
    }
}
@media screen and (max-width:1033px) {
    .banner_wrapper{
        width: 98%;
        height: 95%;
    }
    .banner_wrapper_box button{
        margin-left: 25px;
    }
}



@media screen and (max-width:755px) {
    .banner_wrapper{
        width: 58%;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .Banner{
        height: 1650px;
    }
    .banner_wrapper_box{
        height: 100%;
    }
}
@media screen and (max-width:650px) {
    .banner_wrapper{
        width: 65%;
        height: 95%;
    }
    
  
    .banner_wrapper_box button{
        margin-left: 110px;
    }
    
}


@media screen and (max-width:564px) {
    .banner_wrapper{
        width: 75%;
        height: 95%;
        padding: 50px 0px;
    }
    .banner_wrapper_box button {
        margin-left: 110px;
    }
    .banner_wrapper_box{
        height: 100%;
    }
}
@media screen and (max-width:450px) {
    .banner_wrapper{
        width: 85%;
        margin-top: -50px;
        height: 100%;
    }
    .Banner{
        height: 1490px;
    }
    .banner_wrapper_box button{
       margin-left: 72px;
    }
    .banner_wrapper_box{
        height: 100%;
    }
    
}

@media screen and (max-width:375px) {
    .banner_wrapper{
        width: 95%;
    }
    .banner_wrapper_box{
        height: 100%;
    }
}
@media screen and (max-width:283px) {
    .banner_wrapper{
        width: 95%;
    }
    .banner_wrapper_box button{
      margin-left: 40px;
    }
    .banner_wrapper_box{
        height: 100%;
    }
}