.registrations{
    width: calc(100% - 310px);
    height: 95vh;
    background-color: #fff;
    margin-left: 290px;
    margin-top: 0.4%;
    border-radius: 10px;
    box-shadow: #6d8caa33 0px 8px 24px;
    /* position: relative; */
    padding: 40px 0px;
}

caption{
    font-weight: 600;
    font-size: 40px;
}

th{
    text-align: left;
    padding: 12px 0px;
    color: #fff;
    background-color:#626568;
    border: 1px solid #fff; 
}

table{
    width: 90%;
    margin:0px auto;
    font-size: 20px;
    border-collapse: collapse;
}

td{
    border: 1px solid grey;
    padding: 7px 0px;
}

tr:nth-child(odd){
    background-color: #ddd;
}